<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      受送金
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <div id="page3-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
    <p>
      アドレス（QRコード）を通して仮想通貨を受け取ったり、送金することができます。
    </p>
  </div>
  <div id="page3-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
    <!--
     <ion-item>
      //今はここに打ち込みテストしていますが、URLは内部でゲットしてくるようにします
        <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData">
        </ion-input>
     </ion-item>
    -->
    <button ion-button full icon-left (click)="createCode()"><ion-icon name="apps"></ion-icon>自分のアドレスを表示</button>

    <ion-card *ngIf="myQr">
      <ngx-qrcode [qrc-value]="myAddress"></ngx-qrcode>
      <ion-card-content>
        <p>あなたのアドレス: {{ myAddress }}</p>
      </ion-card-content>
    </ion-card>

    <button ion-button full icon-left (click)="scanCode_main()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>QRコードをスキャンして送金</button>
    <button ion-button full icon-left (click)="selectCode_main()" color="secondary"><ion-icon name="albums"></ion-icon>宛先を選択して送金</button>

    <ion-card *ngIf="yourAddress">
      <ion-card-content>
        Scanned: {{ yourAddress }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
